body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("body.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#mask {
	width: 100vw;
	height: 100vh;
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: -2;
	animation: fade-in 0.5s forwards;
	animation-delay: 0.5s;
}

@media (orientation: landscape) or (min-aspect-ratio:1/1) {
	#main {
		width: 54vh;
		height: 70vh;
		max-width: 54vh;
		max-height: 70vh;
		min-width: 54vh;
		min-height: 70vh;
		font-size: 2vh;
	}
	
	#logo {
		width: 9vh;
		height: 9vh;
		margin: 5.76vh 0 1.44vh;
	}
	
	#title {
		margin: 0 0 1.44vh;
		font-size: 2.4vh;
	}
	
	#account, #password {
		gap: 2.88vh;
		margin: 2.88vh 0 0;
	}
	
	input {
		width: 22.5vh;
		height: 2vh;
		font-size: 1.6vh;
		padding: 1.2vh;
		border-radius: 0.48vh;
		border: 0.216vh solid #DDDDDD;
	}
	
	#forget, #signup {
		margin: 1.44vh 0 0;
	}
	
	#warning {
		margin: 5.76vh 0 0;
	}

	#loginBtn {
		border-radius: 0.96vh;
		font-size: 2vh;
		padding: 1.2vh 2.4vh;
		margin: auto 0 5.76vh;
	}
}

@media (orientation: portrait) and (max-aspect-ratio:1/1) {
	#main {
		width: 86.4vw;
		height: 112vw;
		max-width: 86.4vw;
		max-height: 112vw;
		min-width: 86.4vw;
		min-height: 112vw;
		font-size: 3.2vw;
	}
	
	#logo {
		width: 14.4vw;
		height: 14.4vw;
		margin: 9.216vw 0 2.304vw;
	}
	
	#title {
		margin: 0 0 2.304vw;
		font-size: 3.84vw;
	}
	
	#account, #password {
		gap: 4.608vw;
		margin: 4.608vw 0 0;
	}
	
	input {
		width: 36vw;
		height: 3.2vw;
		font-size: 2.56vw;
		padding: 1.92vw;
		border-radius: 0.768vw;
		border: 0.3456vw solid #DDDDDD;
	}
	
	#forget, #signup {
		margin: 2.304vw 0 0;
	}
	
	#warning {
		margin: 6.912vw 0 0;
	}
	
	#loginBtn {
		border-radius: 1.536vw;
		font-size: 3.2vw;
		padding: 1.92vw 3.84vw;
		margin: auto 0 9.216vw;
	}
}

#main {
	background-image: url("main.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,Helvetica Neue,helvetica,arial,Microsoft JhengHei,PingFang TC,Lantinghei TC,Hiragino Kaku Gothic ProN,Meiryo,MS Gothic;
	animation: scale-change 0.5s forwards;
	animation-delay: 0.5s;
}

#logo {
	background-image: url("logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#title {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #512472;	
}

#account, #password {
	display: flex;
	align-items: center;
}

input {
	background-color: transparent;
}

input:focus {
	border-color: #ffb482;
	outline: none;
}

#warning {
	color: #AE0000;
	text-align: center;
	font-size: 0.8em;
}

#loginBtn {
	display: inline-block;
	position: relative;
	z-index: 1;
	background: #512472;
	border: none;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	transition: 0.5s;
	font-family: CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,Helvetica Neue,helvetica,arial,Microsoft JhengHei,PingFang TC,Lantinghei TC,Hiragino Kaku Gothic ProN,Meiryo,MS Gothic;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#loginBtn span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #ffb482;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

#loginBtn:hover {
    color: #512472;
	cursor: pointer;
}

#loginBtn:hover span {
    transform: translateY(0) scale(2);
}

#loginBtn span:nth-child(1) {
    --n: 1;
}

#loginBtn span:nth-child(2) {
    --n: 2;
}

#loginBtn span:nth-child(3) {
    --n: 3;
}

#loginBtn span:nth-child(4) {
    --n: 4;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.45;
  }
}

@keyframes scale-change {
  from {
	opacity: 0;
    transform: scale(0);
  }
  to {
	opacity: 1;
    transform: scale(1);
  }
}