body {
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #d8cadb;
	font-family: CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,Helvetica Neue,helvetica,arial,Microsoft JhengHei,PingFang TC,Lantinghei TC,Hiragino Kaku Gothic ProN,Meiryo,MS Gothic;
}

@media (orientation: landscape) or (min-aspect-ratio:1/1) {
	#head {
		display: flex;
		height: 10.08vh;
		width: calc(100% - 5.76vh);
		margin: 2.88vh 2.88vh 0;
	}
	
	#logo {
		width: 21.6vh;
		height: 9vh;
		margin-right: 2.88vh;
	}
	
	#warning {
		display: none;
	}
	
	#book-info {
		padding: 1.2vh 2.4vh;
		border-radius: 0.96vh;
		gap: 2.88vh;
	}
	
	#book-name {
		font-size: 2.4vh;
	}
	
	#author-name {
		font-size: 1.92vh;
	}
	
	#user {
		gap: 1.44vh;
	}
	
	#shareBtn, #leaveBtn, #downloadBtn {
		border-radius: 0.96vh;
		font-size: 2vh;
		padding: 1.2vh 2.4vh;
		border: none;
	}
	
	#shareBtn {
		border: 0.216vh solid #512472;
		margin-right: 2.88vh;
	}
	
	#main {
		display: flex;
		height: 87.04vh;
	}
	
	#profile {
		width: 7.2vh;
		height: 7.2vh;
		border-radius: 3.6vh;
	}
	
	#profileName {
		margin-right: 1.44vh;
		font-size: 2vh;
		max-width: 10vh;
	}
	
	#tool {
		width: 5.28vh;
		padding: 2.4vh;
		gap: 2.88vh;
		border-radius: 0 0.96vh 0.96vh 0;
	}
	
	#penBtn, #eraserBtn, #autoBtn, #resetBtn {
		width: 5.28vh;
		height: 5.28vh;
		border-radius: 0.96vh;
	}
	
	#penBtn input {
		border-radius: 0.96vh;
	}
	
	#edit-field {
		width: calc(100vw - 15.84vh);
		height: 60vh;
	}
	
	#book {
		width: 100vh;
		height: 62.5vh;
		border: 0.216vh solid #000000;
	}
	
	#color {
		width: 100vh;
		height: 62.5vh;
	}
	
	#frame, #loading {
		width: 100vh;
		height: 62.5vh;
	}
	
	#loading-word {
		width: 20.16vh;
		height: 20.16vh;
		font-size: 4vh;
		border: 0.216vh dashed #512472;
		border-radius: 10.08vh;
	}

	#share-loading {
		width: 20.16vh;
		height: 20.16vh;
		font-size: 4vh;
		border: 0.216vh dashed #ffffff;
		border-radius: 10.08vh;
	}
	
	#leftPage, #rightPage {
		width: 5.28vh;
		height: 5.28vh;
		border-radius: 2.64vh;
		font-size: 2vh;
		font-family: CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,Helvetica Neue,helvetica,arial,Microsoft JhengHei,PingFang TC,Lantinghei TC,Hiragino Kaku Gothic ProN,Meiryo,MS Gothic;
		font-weight: bold;
	}
	
	.alt {
		width: 8vh;
		height: 2vh;
		font-size: 2vh;
		padding: 0.216vh;
		border: 0.216vh solid #DDDDDD;
	}
	
	#share-screen {
		top: calc(50% - 10vw);
		left: calc(50% - 15vw);
		border-radius: 1.92vh;
		font-size: 2vh;
		font-weight: bold;
		padding: 2.4vh;
		gap: 1.44vh;
		width: 30vw;
		height: 20vw;
	}
	
	#close {
		font-size: 5.76vh;
	}
	
	#icon-container {
		width: 22.56vw;
		height: 4.32vw;
		padding: 1.44vh;
		border-radius: 0.96vh;
	}
	
	.icon {
		width: 2.88vw;
		height: 2.88vw;
	}
	
	.icon a {
		padding: 1.44vw;
	}
	
	#link-parent {
		width: calc(24vw + 2.88vh);
	}
	
	.link-container {
		width: 24vw;
		height: 4.32vw;
		padding: 0 1.44vh;
	}
	
	.link-container input {
		height: 4.88vh;
		padding: 0 1.44vh;
		border: 0.216vh solid #DDDDDD;
		border-radius: 0 0.96vh 0.96vh 0;
		font-size: 1.6vh;
	}
	
	.link-container input:focus {
		border: 0.216vh solid #ffb482;
		outline: none;
	}
	
	#download-container {
		width: 22.56vw;
		height: 4.4vw;
		border-radius: 0.96vh;
	}
	
	.copy {
		font-size: 2vh;
		width: 11.2vh;
		padding: 1.44vh;
		border-radius: 0.96vh 0 0 0.96vh;
		background-color: #DDDDDD;
	}
	
	#copy-done {
		width: 11.2vh;
		font-size: 2vh;
		padding: 1.44vh;
		top: calc(50% - 1vh);
		left: calc(50% - 5.6vh);
		border-radius: 0.96vh;
		border: none;
	}
	
	#loadingB div {
		width: 20.16vh;
		height: 20.16vh;
		font-size: 4vh;
		border: 0.216vh dashed #ffffff;
		border-radius: 10.08vh;
	}
	
	::-webkit-scrollbar {
		width: 1.44vh;
	}

	::-webkit-scrollbar-track {
		background: #ffffff;
		border-radius: 0.72vh;
	}

	::-webkit-scrollbar-thumb {
		background: #a64997;
		border-radius: 0.72vh;
	}
}

@media (orientation: portrait) and (max-aspect-ratio:1/1) {
	#head {
		display: none;
	}
	
	#main {
		display: none;
	}
	
	#warning {
		display: flex;
		font-size: 4.8vw;
		color: #512472;
	}
}

#head {
	align-items: center;
	z-index: 10;
}

#logo {
	background-image: url("logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#book-info {
	position: relative;
	display: flex;
	margin-left: 0;
	align-items: center;
}


#book-name {
	font-weight: bold;
	color: #512472;
}

#author-name {
	font-weight: bold;
	color: #a64997;
}

#user {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#shareBtn, #leaveBtn, #downloadBtn {
	display: inline-block;
	position: relative;
	z-index: 1;
	background: #512472;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	transition: 0.5s;
	font-family: CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,Helvetica Neue,helvetica,arial,Microsoft JhengHei,PingFang TC,Lantinghei TC,Hiragino Kaku Gothic ProN,Meiryo,MS Gothic;
}

#shareBtn {
	margin-left: auto;
	background: transparent;
	color: #512472;
}

#shareBtn span, #leaveBtn span, #downloadBtn span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #ffb482;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

#shareBtn:hover, #leaveBtn:hover, #downloadBtn:hover {
    color: #512472;
	cursor: pointer;
}

#shareBtn:hover span, #leaveBtn:hover span, #downloadBtn:hover span {
    transform: translateY(0) scale(2);
}

#shareBtn span:nth-child(1), #leaveBtn span:nth-child(1), #downloadBtn span:nth-child(1) {
    --n: 1;
}

#shareBtn span:nth-child(2), #leaveBtn span:nth-child(2), #downloadBtn span:nth-child(2) {
    --n: 2;
}

#shareBtn span:nth-child(3), #leaveBtn span:nth-child(3), #downloadBtn span:nth-child(3) {
    --n: 3;
}

#shareBtn span:nth-child(4), #leaveBtn span:nth-child(4), #downloadBtn span:nth-child(4) {
    --n: 4;
}

#main {
	justify-content: center;
	align-items: center;
	width: 100%;
}

#profile {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("profile.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
}

#profile div {
	width: 80%;
	height: 80%;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
}

#profileName {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #512472;
}

#tool {
	position: absolute;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #a64997;
	opacity: 0.2;
	transition: 0.5s;
}

#tool:hover {
	opacity: 1;
}

#penBtn, #eraserBtn, #autoBtn, #resetBtn {
	position: relative;
	display: flex;
	border: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#penBtn input {
	height: 100%;
	border: none;
}

#eraserBtn {
	background-image: url("eraser_off.png");
}

#autoBtn {
	background-image: url("auto_off.png");
}

#resetBtn {
	background-image: url("reset_off.png");
}

#penBtn input:hover, #eraserBtn:hover, #autoBtn:hover, #resetBtn:hover {
	cursor: pointer;
}

#eraserBtn:hover {
	background-image: url("eraser_on.png");
}

#autoBtn:hover {
	background-image: url("auto_on.png");
}

#resetBtn:hover {
	background-image: url("reset_on.png");
}

#edit-field {
	display:  flex;
	align-items: flex-end;
	justify-content: space-evenly;
	margin-left: auto;
}

#book {
	position: relative;
}

#book:hover {
	cursor: pointer;
}

#leftPage, #rightPage {
	text-align: center;
	border: none;
	background-color: #fdf2e4;
	color: #512472;
	transition: 0.5s;
}

#leftPage {
	transform: rotate(180deg);
}

#leftPage:hover, #rightPage:hover {
	cursor: pointer;
	background-color: #512472;
	color: #fdf2e4;
}

canvas {
	position: absolute;
}

#frame {
	background-position: center;
	background-size: cover;
	background-repeat: no repeate;
	position: absolute;
	z-index: 2;
}

#loading {
	position: absolute;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 3;
}

#loading-word {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #512472;
}	

#share-loading {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}

.alt {
	display: flex;
	background-color: #EEEEEE;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 80%;
	left: 80%;
	opacity: 0;
	z-index: 3;
}

#penBtn:hover .alt, #eraserBtn:hover .alt, #autoBtn:hover .alt, #resetBtn:hover .alt {
	opacity: 1;
}

#share-screen-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10;
}

#share-screen {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	background-color: #ffffff;
	animation: scale-change 0.5s forwards;
}

#close {
	position: absolute;
	top: 1%;
	right: 1%;
	background-color: transparent;
	border: none;
	color: #777777;
	text-align: center;
}

#close:hover {
	color: #a64997;
	cursor: pointer;
}

#icon-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-color: #DDDDDD;
	border-style: solid;
}

#link-parent {
	display: flex;
	flex-direction: column;
}

.link-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#download-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-weight: normal;
	border-color: #DDDDDD;
	border-style: solid;
}

#download, #share {
	font-weight: bold;
}

#share-screen-inner {
	height: 80%;
	overflow-y: scroll;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #512472;
}

#copy-done {
	position: absolute;
	background-color: #555555;
	z-index: 15;
	color: #CCCCCC;
	opacity: 0;
	animation: scale-change 1s;
}

.link-container input{
	width: 80%;
}

.icon {
	background-position: center;
	background-size: cover;
	background-repeat: no repeate;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon:nth-child(2) {
	background-image: url("line.png");
}

.icon:nth-child(3) {
	background-image: url("x.png");
}

.icon:hover {
	cursor: pointer;
}

#loadingB {
	position: absolute;
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 50;
}

#loadingB div {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
	background: #512472;
}

@keyframes scale-change {
  from {
	opacity: 0;
    transform: scale(0);
  }
  to {
	opacity: 1;
    transform: scale(1);
  }
}